<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver4.comment.CommentMapper">

    <insert id="postComment">
        INSERT INTO comment
        SET comment_contents = #{commentContents}
        , writer_id = #{writerId}
        , board_id = #{boardId}
    </insert>

    <update id="putComment">
        UPDATE comment
        SET comment_contents = #{commentContents}
        WHERE comment_id = #{commentId}
        AND writer_id = #{writerId}
    </update>

    <delete id="delComment">
        DELETE FROM comment
        WHERE comment_id = #{commentId}
        AND writer_id = #{writerId}
    </delete>

</mapper>